<ion-header>
  <ion-toolbar>
    <ion-title>Recipe Details:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ng-container *ngIf="recipe; else loading">
    <ion-thumbnail style="width: 180px; height: 180px;">
    <ion-img
      [src]="recipe.image"
      [alt]="recipe.title">
    </ion-img>
    </ion-thumbnail>
  
  <h2>{{ recipe.title }}</h2>

  <h3>Ingredients ({{ unitSystem.toUpperCase() }})</h3>
  <ion-list>
      <ion-item *ngFor="let ing of recipe.extendedIngredients">
      <ion-label>{{ formatIngredient(ing) }}</ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noIngredients>
      <p>No ingredients found.</p>
    </ng-template>

  <h3>Instructions</h3>
  <div [innerHTML]="recipe.instructions"></div>
  
  <ion-button expand="block" (click)="addToFavourites()">
    Add to Favourites
  </ion-button>
  
  </ng-container>

  <ng-template #loading>
    <p>Loading</p>
  </ng-template>

</ion-content>


