<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="favourites.length > 0; else empty">
    <ion-item *ngFor="let fav of favourites" button (click) = "openDetails(fav.id)">
      
      <ion-label>
        {{fav.title}}
      </ion-label>
      
      <ion-button
        slot="end"
        color="danger"
        fill="clear"
        (click)="remove(fav.id); $event.stopPropagation()">
        Remove
      </ion-button>
    </ion-item>

     </ion-list>
      
  <ng-template #empty>
    <p>No favourites yet!</p>
  </ng-template>
     
</ion-content>

