<!-- Top header of the Home page -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- App title shown at the top -->
    <ion-title>Recipe App G00439456</ion-title>
        <ion-buttons slot="end">
      <ion-button routerLink="/favourites">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button routerLink="/settings">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Main scrollable content area -->
<ion-content class="ion-padding">

  <!-- Intro text -->
  <ion-text>
    <h2>Welcome to recipe search</h2>
    <p>Select a recipe from the list below</p>
  </ion-text>

  <!-- List container for recipes -->
  <ion-list>

    <!-- First recipe item -->
   <ion-item button *ngFor="let recipe of recipes">
    <ion-label>
      <h3>{{ recipe.name }}</h3>
      <p>{{ recipe.description }}</p>
    </ion-label>
  
  </ion-item>

  </ion-list>
  
</ion-content>
