<!-- Top header of the Home page -->
<ion-header [translucent]="true">
<ion-toolbar>
<ion-title>Recipe App G00439456</ion-title>
<ion-buttons slot="end">
<ion-button routerLink="/favourites">
<ion-icon name="heart"></ion-icon></ion-button>
<ion-button routerLink="/settings">
<ion-icon name="settings"></ion-icon>
</ion-button>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-text>
<h2>Welcome to recipe search</h2>
<p>Enter ingredients to find related recipes</p>
</ion-text>

<!-- Initial code used for static recipe data , replaced by searrch results from Spoonacular -->
<!--<ion-list>
<ion-item button *ngFor="let recipe of recipes">
<ion-label>
<h3>{{ recipe.name }}</h3>
<p>{{ recipe.description }}</p>
</ion-label>
</ion-item>
</ion-list>-->

<ion-item>
    <ion-input
    name = "ingredients"
    label="Ingredients"
    labelPlacement="stacked"
    placeholder="e.g. Egg, Beans"
    [(ngModel)]="ingredients">
    </ion-input>
</ion-item>

<!--Search button-->
<ion-button expand ="block" (click)="searchRecipes()">Search</ion-button>

<!--Search list-->
<ion-list *ngIf="recipes.length > 0">
<ion-item button *ngFor="let recipe of recipes" [routerLink]="['/details', recipe.id]">
<ion-label>
<h3>{{ recipe.title }}</h3>
<p *ngIf="recipe.usedIngredientCount !== undefined">Used: {{ recipe.usedIngredientCount }} | Missing: {{ recipe.missedIngredientCount }}</p>
</ion-label>
</ion-item>
</ion-list>

</ion-content>
